header {
  /*   background-image: url(../../images/logo512.png); /* opacity e transparencia */
  
    background-color: #2c3241;
    height: 800px;
    color: white;
    border: 30px solid white;
}


.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0px 100px
}

.texts {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 100px;
    width: 40%;
    
}
h1 {
    font-size: 100px;
    margin: 0px;
}

.texts p {
    font-size: 25px;
    text-align: left;
    width: 80%;
}